<div #flexLayoutContainer [ngStyle]="{'height': containerHeight}">
<div style="position: absolute; margin: 0px 40px;">
  <ngx-charts-bar-vertical-2d
  [view]="view"
  [results]="resolveData()"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [showGridLines]="showGridLines"
  [rotateXAxisTicks]="false"
  [barPadding]="2"
  [legendPosition]="legendPosition"
  >
  </ngx-charts-bar-vertical-2d>
</div>
</div>


