<div class="consultant-info-container mat-elevation-z1">
  <h4 class="mat-h4">{{consultant.noUsuario}}</h4>
  <table mat-table [dataSource]="data">

    <!-- Period Column -->
    <ng-container matColumnDef="period">
      <th mat-header-cell *matHeaderCellDef> Period </th>
      <td mat-cell *matCellDef="let element"> {{getFormatedDate(element.referenceDate)}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <!-- Net Earnings Column -->
    <ng-container matColumnDef="netEarnings">
      <th mat-header-cell *matHeaderCellDef> Net Earnings </th>
      <td mat-cell *matCellDef="let element"> {{element.netEarnings | currency}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalEarnings() | currency}} </td>
    </ng-container>

    <!-- Net Earnings Column -->
    <ng-container matColumnDef="fixedCost">
      <th mat-header-cell *matHeaderCellDef> Fixed Cost </th>
      <td mat-cell *matCellDef="let element"> {{element.fixedCost | currency}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalFixedCost() | currency}} </td>
    </ng-container>

    <!-- Commission Column -->
    <ng-container matColumnDef="commission">
      <th mat-header-cell *matHeaderCellDef> Commission </th>
      <td mat-cell *matCellDef="let element"> {{element.commission | currency}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalCommission() | currency}} </td>
    </ng-container>

    <!-- Commission Column -->
    <ng-container matColumnDef="benefit">
      <th mat-header-cell *matHeaderCellDef> Benefit </th>
      <td mat-cell *matCellDef="let element"> {{element.benefit | currency}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalBenefits() | currency}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>