<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutGap="16px" fxLayoutGap.gt-sm="24px">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Consultants
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <div>
        <mat-progress-bar mode="indeterminate" *ngIf="loadingConsultants"></mat-progress-bar>
        <mat-selection-list #selectionControl (selectionChange)="onSelectionChange(selectionControl)">
          <mat-list-option *ngFor="let consultant of consultants" [value]="consultant">
            {{consultant.noUsuario}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex>
    <mat-form-field>
      <input matInput name="fromDatePicker" [matDatepicker]="pickerFrom" placeholder="From" [max]="dateTo" [value]="dateFrom" (dateChange)="onDateFromChanged($event)">
      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerTo" placeholder="To" [min]="dateFrom" [value]="dateTo" (dateChange)="onDateToChanged($event)">
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>
    <mat-tab-group>
      <mat-tab label="Detailed Incoming">
        <div class="tab-content">
          <mat-progress-bar mode="indeterminate" *ngIf="loadingIncomings"></mat-progress-bar>
          <app-consultant-info *ngFor="let consultantIncoming of consultantIncomings" [consultant]="consultantIncoming">
          </app-consultant-info>
        </div>
      </mat-tab>
      <mat-tab label="Bar Graphic">
        <div class="tab-content">
          <app-bar-chart [consultants]="consultantIncomings"></app-bar-chart>
        </div>
      </mat-tab>
      <mat-tab label="Pie Graphic">
        <app-pie-chart [consultants]="consultantIncomings"></app-pie-chart>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>