
.content {
  padding: 16px;

  mat-card {
    mat-card-header {
      padding: 14px 0 2px 0;
      background: rgb(103, 58, 183);
      color: white;
    }
  }

  div.tab-content {
    padding: 16px 0px;
  }

  mat-form-field {
    margin-right: 12px;
  }

}

